@import "variables";
@import "config";

@mixin button-primary {
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    
    border-radius: 30px 30px 30px 30px;
    transition: all 400ms ease-in-out;
    text-transform: capitalize;
    outline: none;
    border: 0;
    
}
@mixin button-hover {
    background-image: linear-gradient(to right, hsl(176, 35%, 92%), hsl(198, 76%, 60%));
    color: $text-color;
    
}
