
$main-bg: hsl(217, 28%, 15%);
$footer-bg: hsl(216, 53%, 9%);
$testimonials-bg:hsl(219, 30%, 18%);
$error-color: hsl(0, 100%, 63%);
$text-color:hsl(0, 0%, 100%);
$black-text: #212121;
$navMaxWidth: 1000px;
$buttonGradient: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
$transition: all 500ms;
$body-copy: 14px;